{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row g-5 justify-content-md-center">
        <form action="" method="post" class="col-3">
            <h4>Add new Product:</h4>
            {{ form.csrf_token() }}
            {{ form.name.label(class="form-label m-1") }}
            {{ form.name(class="form-control m-1") }}
            {{ form.processes.label(class="form-label m-1") }}
            {{ form.processes(class="form-select m-1", size=4, multiple=True) }}
            {{ form.submit(class="btn btn-primary m-1", value="Add") }}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p class="text-danger">{{ messages[0] }}</p>
            {% else %}
            <p style="visibility:hidden;">message</p>
            {% endif %}
            {% endwith %}
        </form>
        <div class="col-8">
            <table class="table table-hover">
                <caption class="caption-top test-center">All Products</caption>
                <thead>
                <tr>
                    <th scope="col">Name of Product</th>
                    <th scope="col">Processes for making this product</th>
                    <th scope="col" style="width:18%;"></th>
                    <th scope="col" style="width:18%;"></th>
                </tr>
                </thead>
                <tbody>
                {% for product in table %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>

                    </td>
                    <td>
                        <a href="" class="btn btn-warning p-1">Change product</a>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger p-1">Delete
                            product</a>
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}