{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row g-3 justify-content-md-center">
        {% if current_user.admin %}
        <form action="" method="post" class="d-flex flex-column w-25  fs-5">
            {{ form.order_id.label(class="form-label m-1") }}
            {{ form.order_id(class="form-control m-1") }}
            {{ form.customer.label(class="form-label m-1") }}
            {{ form.customer(class="form-control m-1") }}
            {{ form.product.label(class="form-label m-1") }}
            {{ form.product(class="form-control m-1") }}
            {{ form.date.label(class="form-label m-1") }}
            {{ form.date(class="form-control m-1") }}
            {{ form.submit(class="btn btn-primary m-3 w-50", value="Add new Order") }}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p class="text-danger">{{ messages[0] }}</p>
            {% else %}
            <p style="visibility:hidden;">message</p>
            {% endif %}
            {% endwith %}
                    </form>
        {% endif %}
        <div class="col-8">
            <table class="table table-hover">
                <caption class="caption-top test-center">All active Orders</caption>
                <thead>
                <tr>
                    <th scope="col">Number of Order</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Date to complete</th>
                    <th scope="col" style="width:18%;"></th>
                    <th scope="col" style="width:18%;"></th>
                </tr>
                </thead>
                <tbody>
                {% for order in table %}
                <tr>
                    <td class="fw-bold">{{ order.order_id }}</td>
                    <td>{{ order.customer }}</td>
                    <td>{{ order.date_to_complete.strftime('%d/%m/%Y') }}</td>
                    <td>
                        <a href="{{ url_for('remove_order', order_id=order.order_id) }}" class="btn btn-warning p-1">Change
                            Order</a>
                    </td>
                    <td>
                        <a href="{{ url_for('remove_order', order_id=order.order_id) }}" class="btn btn-danger p-1">Delete
                            Order</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
