{% extends "base.html" %}
{% block content %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        {% if current_user.is_authenticated %}
        <h2>Welcome, {{ current_user.first_name}} {{ current_user.last_name}}</h2>
        {% endif %}
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="btn btn-outline-primary me-2">Login</a>
            {% endif %}
        </div>
    </header>
    {% if current_user.is_authenticated %}
    {% if current_user.admin %}

    <a href="{{ url_for('signup') }}" class="btn btn-primary">Add new Employee</a>
    <a href="{{ url_for('add_product') }}" class="btn btn-primary">Add new Product</a>
  {#  <a href="{{ url_for('add_process') }}" class="btn btn-primary">Add new Process</a> #}
    {% endif %}
    {% endif %}
</div>
{% endblock %}
