{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3 class="text-center">Your current orders:</h3>
    {% for process in current_user.processes %}
    <table class="table table-hover">
        <caption class="caption-top text-primary fw-bold">{{ process.name }}:</caption>
        <thead>
        <tr>
            <th scope="col">Order</th>
            <th scope="col">Date to complete</th>
            <th scope="col" style="width:18%;"></th>
        </tr>
        </thead>
        <tbody>
        {% for record in table if process == record.Process %}
        <tr>
            <td>{{ record.Order.order_id }}</td>
            <td>{{ record.Order.date_to_complete.strftime('%d/%m/%Y') }}</td>
            {#
            <td class="form-control fw-italic">{{ record.comments }}</td>
            #}
            <td><a href="{{ url_for('complete_process', process_id=record.processes_in_order_id) }}"
                   class="btn btn-success p-1">Mark as Complete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>

{% endblock %}
