{% extends "base.html" %}
{% block content %}
<div class="container">
    <form class="d-flex justify-content-end" action="{{ url_for('search_order') }}" method="post">
        <div class="col">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <h4 class="text-danger">{{ messages[0] }}</h4>
            {% endif %}
            {% endwith %}
        </div>
        <input class="form-control me-2 w-25" type="search" placeholder="Search" aria-label="Search Order"
               name="search_field">
        <button class="btn btn-outline-success" type="submit">Search Order</button>

    </form>

    <h2 class="text-primary">Order:<span class="ms-5 text-dark fw-normal">{{ order.order_id }}</span></h2>
    <h2 class="text-primary">Customer: <span class="ms-5 text-dark fw-normal">{{ order.customer }}</span></h2>
    <h2 class="text-primary">Product: <span class="ms-5 text-dark fw-normal">{{ order.products[0].name }}</span>
    </h2>
    <h2 class="text-primary">Quantity: <span class="ms-5 text-dark fw-normal">{{ order.quantity }}</span></h2>
    <h2 class="text-primary">Date to complete: <span class="ms-5 text-dark fw-normal">{{ order.date_to_complete.strftime('%d/%m/%Y') }}</span>
    </h2>
    <table class="table">
        <caption class="caption-top fs-4 text-primary">Processes</caption>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name of process</th>
            <th scope="col">Employee in charge of this process</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        {% for pr in processes_in_order %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{ pr.Process.name }}</td>
            <td>{{ employees[pr.processes_in_order_id]}}</td>
            {% if pr.completed %}
            <td class="text-success fw-bold">Completed {% else %}
            <td class="text-danger fw-bold">Not completed {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
    <h1 class="text-primary">Status: {% if order.completed %}<span class="ms-5 text-success">Completed
                                {% else %}<span class="ms-5 text-danger"> Not completed {% endif %}</span></h1>
</div>
{% endblock %}
